@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
        font-family: "Atkinson";
        src: url("/static/fonts/atkinson_regular.woff2");
}

@font-face {
        font-family: "AtkinsonBold";
        src: url("/static/fonts/atkinson_bold.woff2");
}

@layer base {
        html {
                font-family: Atkinson, AtkinsonBold;
                @apply text-slate-900 bg-slate-50 dark:text-slate-50 dark:bg-slate-900;
        }
        h1 {
                font-family: AtkinsonBold;
                @apply text-6xl font-bold before:content-[">"];
        }

        .font-bold {
                font-family: AtkinsonBold;
        }

        .link_button {
                @apply active:font-bold underline cursor-pointer hover:text-slate-600 dark:hover:text-slate-300 decoration-4;
        }

        h2 {
                font-family: AtkinsonBold;
                @apply text-4xl font-bold;
        }

        h3 {
                font-family: AtkinsonBold;
                @apply text-2xl font-bold;
        }

        thead {
                @apply text-left;
        }

        tbody > tr:nth-child(odd) {
                @apply bg-slate-100 dark:bg-slate-800;
        }

        th,
        td {
                @apply p-2;
        }
}
