@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
        font-family: "Atkinson";
        src: url("/static/fonts/atkinson_regular.woff2");
}

@font-face {
        font-family: "AtkinsonBold";
        src: url("/static/fonts/atkinson_bold.woff2");
}

@layer base {
        html {
                font-family: Atkinson, AtkinsonBold;
        }
        h1 {
                font-family: AtkinsonBold;
                @apply text-6xl font-bold;
        }

        .font-bold {
                font-family: AtkinsonBold;
        }

        h1::before {
                content: "> ";
        }

        h2 {
                font-family: AtkinsonBold;
                @apply text-4xl font-bold;
        }

        h3 {
                font-family: AtkinsonBold;
                @apply text-2xl font-bold;
        }

        thead {
                @apply text-left;
        }

        tbody > tr:nth-child(odd) {
                @apply bg-pink-50;
        }

        th,
        td {
                @apply p-2;
        }
}
