:root {
    --background: #1E1F1F;
    --foreground: #E4EFF1;
    --accent: #FDB172;
}

@font-face {
    font-family: "Atkinson";
    src: url("/static/fonts/AtkinsonHyperlegible-Regular.ttf");
}

* {
    font-family: "Atkinson";
}

body {
    background-color: var(--background);
}

p {
    color: var(--foreground);
}

h1, a {
    color: var(--accent);
}
