<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>{% block title %}{% endblock title %} | rssc-intract</title>
    {% endblock head %}
</head>
<body>
    <div id="content">{% block content %}{% endblock content %}</div>
    <footer>
        {% block footer %}
        {% include "premades/footer" %}
        {% endblock footer %}
    </footer>
</body>
</html>
