<h1>about</h1>
<h2>rssc</h2>
<p>
    rssc stands for really simple syndication curation. we mainly picked this
    name because it sounded funny. it's the protocol that this server works
    with. this part is dual licensed under the MIT and Apache license. so feel
    free to implement the spec yourself!
</p>
<h2>intract</h2>
<p>
    intract is the server and a reference implementation of rssc. we picked this
    name because of the concept of an intractable problem in computer science.
    generally these problems are too hard to be solved by an algorithm, which is
    exactly what we're trying to replace. the source code is available
    <a
        href="https://github.com/kittycat-homes/rssc-intract#the-best-software-ever-made-by-kittycat-homes-software"
    >on github</a>.
</p>
