{% extends "premades/base" %}
{% block title %}login{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block content %}
<form action="/login" method="post">
  <label for="username">username:</label><br>
  <input type="text" id="username" name="username" value=""><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password" value=""><br><br>
  <input type="submit" value="login">
</form>
{% endblock content %}
