<!-- this page simply shows a login form that sends a post request with username
and password to the same url -->

<form action="/login" method="post">
  <label for="username">username:</label><br>
  <input type="text" id="username" name="username" value=""><br>
  <label for="password">password:</label><br>
  <input type="password" id="password" name="password" value=""><br><br>
  <input type="submit" value="login">
</form>
