<html lang="en">
	<head>
		<title>new share | intract</title>
	</head>
	<body>
		<form action="/share/new" method="post">
			<label for="url">url:</label><br />
			<input type="text" id="url" name="url" value="" /><br />

			<label for="user_comment">user comment:</label><br />
			<textarea id="user_comment" name="user_comment" value=""></textarea><br />

			<label for="tags">tags:</label><br />
			<textarea id="tags" name="tags" value=""></textarea><br />

			<input type="submit" value="make recommendation" />
		</form>
	</body>
</html>
