<html lang="en">
<body>
<form action="/share/new" method="post">
  <label for="url">url:</label><br>
  <input type="text" id="url" name="url" value=""><br>

  <label for="description">description:</label><br>
  <textarea id="description" name="description" value=""></textarea><br>

  <label for="tags">tags:</label><br>
  <textarea id="tags" name="tags" value=""></textarea><br>

  <input type="submit" value="make recommendation">
</form>
<body>
</html>
