{% extends "base" %}
{% block title %}Index{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
    peenis penis haha
    {{userid}}
    </p>
{% endblock content %}
